{% extends "core/base.html" %}
{% block content %}
  <div class="container">
    <h2 class="text-center mt-2">About Us</h2>
    <div class="d-grid col-auto mx-auto">
      <p>
        Coming soon!
      </p>
    </div>
  </div>
{% endblock %}
