<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% spaceless %}
      {% block title %}
      Treebor, Ever Wanted Trees For Neighbors?
      {% endblock %}
    {% endspaceless %}</title>
    {% block header_declarations %}{% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    {% block content %}{% endblock %}
    {% block post_body_content %}{% endblock %}
  </body>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</html>
