{% extends "core/map_view.html" %}
{% block content %}
    <div id="popup">
      <a href="#" id="popup-closer" class="trees-popup-closer">x</a>
      <div id="popup-content" class="tree-info-popup"></div>
    </div>
    <h2>Treebor</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var map, userLocation, treeMarker;
      var treeLocations = [];

      var container = document.getElementById('popup');
      var content = document.getElementById('popup-content');
      var closer = document.getElementById('popup-closer');

      closer.onclick = function () {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
      }

      var overlay = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250,
        }
      });

      map = new ol.Map({
        target: 'map',
        overlays: [overlay],
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-74.00, 40.71]),
          zoom: 10
        })
      });

      map.on("click", function(e) {
        map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
          if(feature && feature.get('feature_type') == "tree") {
            console.log("clicked tree")
            var overlayCoordinate = e.coordinate;
            content.innerHTML = "(" + feature.get("latitude") + ", " + feature.get("longitude") + ")</br>" + feature.get('common_name') + "</br><i>" + feature.get('scientific_name') + "</i>"
            overlay.setPosition(overlayCoordinate);
          }
        })
      })

    </script>
    <p id="demo"></p>
		<div class="d-grid col-6 mx-auto">
      <button class="btn btn-primary btn-lg" onclick="getLocation()">Find Trees Near Me</button>
		</div>
		<div class="d-grid col-6 mx-auto">
      <p>Can't find any trees near you? Try <a href="{% url 'explore_mode' %}">explore mode</a>!</p>
		</div>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
{% endblock %}
{% block post_body_content %}
  <script>
      var x = document.getElementById("demo")
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser";
        }
      }
      function showPosition(position) {

        if (userLocation) {
            console.log("removed location");
            map.removeLayer(userLocation);
        }

        userLocation = new ol.layer.Vector({
          source: new ol.source.Vector({
            features: [
              new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]))
              })
            ]
          })
        });
        map.addLayer(userLocation);

        var userExtent = userLocation.getSource().getExtent()
        map.getView().fit(userExtent, {maxZoom: 18}),

        x.innerHTML = "Latitude: " + position.coords.latitude +
          "<br>Longitude: " + position.coords.longitude;

        const url = "{{ app_url }}/api/v1/trees"
        const data = {
          "latitude": String(position.coords.latitude),
          "longitude": String(position.coords.longitude)
        }
        const otherParams = {
          headers: {
              "Content-Type": "application/json"
          },
          body: data,
          method: "POST"
        }
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
        .then(data=> {return data.json()})
        .then(response=> {
          console.log(response);
          for(i = 0; i < treeLocations.length; i++) {
            console.log("removed tree locations")
            map.removeLayer(treeLocations[i]);
          }
          treeLocations = [];
          //if (treeMarker) {
          //  console.log("removed tree locations")
          //  map.removeLayer(treeMarker);
          //}
          var treeFeatures = []
          for (key in response) {
            var tree = new ol.Feature({
              geometry: new ol.geom.Point(
                ol.proj.fromLonLat([response[key].longitude, response[key].latitude])
              ),
              feature_type: "tree",
              latitude: response[key].latitude,
              longitude: response[key].longitude,
              scientific_name: response[key].scientific_name,
              common_name: response[key].common_name,
            });
            treeFeatures.push(tree);
          };

          // var treeStyle[ol.geom.GeometryType.POINT] = new ol.style.Style({
          var treeStyle = new ol.style.Style({
            image: new ol.style.Circle({
              radius: 7,
              fill: new ol.style.Fill({color: 'green'}),
              stroke: new ol.style.Stroke({color: [0,128,0], width: 2}),
            })
          });

          treeMarker = new ol.layer.Vector({
            source: new ol.source.Vector({
              features: treeFeatures
            }),
            style: treeStyle,
          })
          map.addLayer(treeMarker);
          treeLocations.push(treeMarker);
        })
        .catch(error=>{console.log(error); console.log(otherParams)})

      }
  </script>
{% endblock %}
