{% extends "core/base.html" %}
{% block header_declarations %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
      .tree-info-popup {
        background-color: white;
        border: 1px solid #cccccc;
        border-radius: 10px;
        padding: 15px;
      }
      .trees-popup-closer {
        text-decoration: none;
        position: absolute;
        right: 8px;
        top: 2px;
        font-family: Arial, sans-serif;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

    <footer class="footer mt-auto py-3 fixed-bottom">
      <div class="container">
        <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        <a href="{% url 'about_us' %}">About Us</a>
      </div>
    </footer>

{% endblock %}


