{% extends "core/base.html" %}
{% block content %}
    <div class="container">

      <!--<h2 class="d-grid col-6 mx-auto">Privacy Policy</h2>-->
      <h2 class="text-center mt-2">Privacy Policy</h2>
      <div class="d-grid col-auto mx-auto">
        <p>
      Our servers collect information your browser sends whenever you visit our service. This information may include your computer's Internet Protocol (IP) address, and the time and date of your visit.
        </p>
      </div>

    </div>

{% endblock %}
